.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px 10px;
}

h4 {
    text-align: center;
}

#orderBtn {
	position: fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	text-align:center;
}

.menuItemBtn {
    width:100%;
    display:block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}